.App {
  text-align: center;
  width:100%;
}

@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("NunitoSans-Light"),
    url("./fonts/NunitoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("NunitoSans-Regular"),
    url("./fonts/NunitoSans-Regular.ttf") format("truetype");
}

h1 {
  font-family: "Light";
}

h2 {
  font-family: "Light";
}